.fakegoogle{
align-content: center;
}
.logo{
width:300px;
}
.user{
width:100px;
}
.floatRight{
float:right;
}
.button{
width:195px;
background-color:blue;
color:white;
}
.login-content{
display: inline-block;
width:30%;
background-color:#e6e6e6;
padding: 25px 10px 25px 10px;
}
.center{
display: block;
margin-left: auto;
margin-right: auto;
}
.divcenter{
text-align: center;
}